body { 
    font: 14px helvetica neue, helvetica, arial, sans-serif;
  }
  
  #cy {
    height: 100%;
    width: 100%;
    position: absolute;
    left: 0px;
    top: 0px;
    margin: 0px;
    padding: 0px;
  }